.plant-container {
   width: 100%;
    height: 100%;
    background-image: url("./images/search_background.png");
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -100;
}

.button-return-to-search {
   border: none;
   background: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.3rem;
   color: #669057;
   cursor: pointer;
   margin-top: 5rem;
   margin-left: 14em;
   font-weight: 600;
 }

.main-plant-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    gap: 3rem;
    margin-top: 2.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.plant-image-size {
    height: 22rem;
    width: 22rem;
    border: 3px solid #669057;
  }

  .plant-names-and-description-container {
   display: flex;
   justify-content: center; 
   align-items: center;
   
  }

  .plant-names-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }

  .plant-scientific-name {
  
    font-style: italic;
    font-weight: 400;
  }


  .plant-description {
   margin-top: 1rem;
     max-width: 45rem;
     max-height: 10rem;
  }


 .details-container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 3rem;
 } 

.pair-of-information-details-container {
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 2rem;
   margin-top: 1.5rem;
}

.difficulty-level-circle-position {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
 .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 90rem;
    background-color: #D9D9D9;
 }

 .green{
    background-color: #669057 ;
 }


.circle-div-background-sunlight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #fef3c7 ;
    border-radius: 100rem;
}

.circle-div-background-watering{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #e0f2fe ;
    border-radius: 100rem;
}
.circle-div-background-medicinal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #d1fae5;
    border-radius: 100rem;
}

.circle-div-background-dangerous{
   display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #FFD9D9;
    border-radius: 100rem;
}

.circle-div-background-care-level {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #ecfccb;
    border-radius: 100rem;
}


.hardiness-level-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 1.5rem;
   margin-top: 3rem;
   margin-bottom: 3rem;
}



 .circle-div {
    background-color: transparent;
 }

.hardiness-location-text{
   margin-top: 3rem;
}

 .hardiness_location {
    height: 30rem;
    width: 60rem;
   border: 2px solid #d9d9d9;
   background: #ffff;
    scrollbar-width: none;
    overflow: hidden;
    margin-bottom: 3rem;
    
 }


 .icon-description-plant-information {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.7rem;
 }


.circle-div-background-cycle{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 3rem;
   height: 3rem;
   background-color: #fce7f3;
   border-radius: 100rem;
}

.information-details-container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
}

.plant-description-for-1000px-width {
   display: none;
   visibility: hidden;
}


@media (max-width: 1200px) {

   


   .plant-image-size {
      height: 18rem;
      width: 18rem;
      border: 3px solid #669057;
    }

    .plant-description {
      margin-top: 1rem;
        max-width: 50rem;
        max-height: 16rem;
     }

     .details-container {
      gap: 10rem;
      margin-top: 5rem;
   } 

   .hardiness_location {
      height: 20rem;
      width: 40rem;
      
   }
}

@media (max-width: 1000px) {

   .main-plant-details-container {
      gap: 1.5rem;
   }

   .plant-names-and-description-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     }
   
     .plant-scientific-name {
     
       font-style: italic;
       font-weight: 400;
     }
   
     .plant-description {
      display: none;
      visibility: hidden;
     }

     .plant-description-for-1000px-width-container {
      display: flex;
      justify-content: center;
     }

     .plant-description-for-1000px-width {
      display: block;
      visibility: visible;
      margin-top: 2rem;
      width: 40rem;
     }
}


@media (max-width: 767px) {

   .plant-container {
      background: none;
   }

   .button-return-to-search  {
      margin-left: 2rem;
   }

   .plant-image-size {
      height: 14rem;
      width: 14rem;
      border: 3px solid #669057;
    }
   .main-plant-details-container {
      flex-direction: column-reverse;
      gap: 2rem;
      
   }

   .plant-description-for-1000px-width {
      display: block;
      visibility: visible;
      margin-top: 2rem;
      width: 20rem;
      
     }

     .hardiness-level-container {
      flex-direction: column;
     }

     .circle {
      width: 24px;
      height: 24px;
     }

     .hardiness_location {
      height: 15rem;
      width: 30rem;
      
   }
}